@import "tailwindcss";


@theme {
    --font-gilroy: "Gilroy", sans-serif;

    --color-bg: #f6f3ee;
    --color-white: #fff;
    --color-bage: #ececdf;
    --color-gray: #D9D9D9;
    --color-light-pink: #F6F2EE;
    --color-yellow: #FFDD00;
}